<li>
    @Html.ActionLink("Add Location", "Index", "AppUsers", routeValues: null, htmlAttributes: new { id = "userManagement" })
</li>
<li>
    @Html.ActionLink("File Upload", "Index", "AppUsers", routeValues: null, htmlAttributes: new { id = "userManagement" })
</li>
<li>
    @Html.ActionLink("Email Users", "Index", "AppUsers", routeValues: null, htmlAttributes: new { id = "userManagement" })
</li>