@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
    <h1>Room Bookable</h1>
    <img class="col-md-4" src="~/Images/floorplan.png" alt="" />
    <div class="form-group col-md-4">
        <div class="control-label">location</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">Room</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">Start Date</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">Start Time</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">End Date</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">End Time</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">Service</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <div class="control-label">Service User</div>
        <div>
            <input class="form-control" type="text" />
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</div>